.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  flex-basis: 60%;
}

.form-control label {
  color: #555;
}
.form-control input {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border: #ddd 2px solid;
}
.form-control input:focus-visible {
  border: 2px solid #888;
  outline: none;
}

.form button {
  background-color: #383838;
  color: #ccc;
  align-self: flex-start;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-style: italic;
}
.form button:hover {
  cursor: pointer;
}

.error {
  text-align: center;
  color: rgb(214, 4, 4);
  font-size: 1.6rem;
}
