.table {
  text-align: center;
  width: 70%;
  font-style: italic;
}
.table thead {
  background-color: #f8f9fa;
}
.table th {
  padding: 1rem;
}
.table td {
  padding: 3rem 1rem;
}

.table button {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
}
.table button:hover {
  cursor: pointer;
}

td.image {
  width: 10%;
  padding: 0;
}

.image img {
  width: 100%;
}
.name {
  font-weight: 500;
  font-size: 1.8rem;
  width: 25%;
}
.quantity > div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.price,
.total {
  color: #888;
  font-size: 1.4rem;
}
.remove button {
  color: #888;
}
