.container{
  max-width: 140rem;
  margin: 0 auto;
  background-color: #f9fbfd;
  padding: 2rem 5rem;
}
.container h1{
  font-size: 1.4rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 4rem;
}

.infoBoard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 2px 2px 5px 1px #d0e6fc;
  margin-bottom: 3.2rem;
}
.infoBoard .info{
  padding: 2.4rem 2rem;
  border-left: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoBoard .info:first-child{
  border: none;
}
.info p{
  font-size: 2.8rem;
  font-weight: 700;
}
.info span{
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #888;
}
.earning{
  display: flex;
  align-items: flex-start;
}
.earning span{
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
}
.icon i{
  font-size: 2rem;
  color: #888;
}

/* history style */
.history{
  box-shadow: 2px 2px 5px 1px #d0e6fc;
  padding: 2rem;
}
.history h2{
  margin-bottom: 3.2rem;
}
.history table{
  border-collapse: collapse;
  width: 100%;
}
.history th,.history td{
  border: 1px solid #d0e6fc;
  padding: 1rem;
  text-align: left;
  color: #555;
}
.history th{
  font-weight: 600;
}
.history tbody tr:nth-child(odd){
  background-color: #eef7ff;
}

button.view{
  color: #fff;
  background-color: #22ca80;
  border: 1px solid #22ca80;
  padding: 0.8rem;
  border-radius: 5px;
}
button.view:hover{
  color: #22ca80;
  background-color: #fff;
  cursor: pointer;
}
button.view:active{
  color: #fff;
  background-color: #22ca80;
  cursor: pointer;
}
