.services {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  font-style: italic;
  padding: 6rem 4rem;
  margin-bottom: 4rem;
}
.services p {
  color: #b0b0bf;
  font-size: 1.6rem;
}
.services h2 {
  color: #4c4d4d;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.cta {
  display: flex;
  justify-content: space-between;
}
.cta-text {
  font-style: italic;
}
.cta-text p {
  color: #b0b0bf;
  font-size: 1.6rem;
}
.cta-text h1 {
  color: #4c4d4d;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.cta-form {
  flex-basis: 50%;
  display: flex;
}
.cta-form input,
.cta-form button {
  padding: 2rem;
}
.cta-form input {
  flex-grow: 1;
  font-size: 1.8rem;
  border: 1px solid #b0b0bf;
}
.cta-form button {
  font-size: 2rem;
  color: #fff;
  background-color: #383838;
  border: none;
}
.cta-form button:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 2px #55555555;
}
.cta-form button:active {
  box-shadow: none;
}
