.header {
  display: flex;
  justify-content: space-between;
  padding: 6rem;
  background-color: #eee;
  align-items: center;
  font-style: italic;
}
.logo {
  font-size: 4rem;
  color: #333;
}
.page {
  color: #777;
}
