.title {
  text-align: center;
  font-style: italic;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.title p {
  color: #b0b0bf;
  font-size: 1.4rem;
}
.title h1 {
  color: #827f7e;
  font-size: 2rem;
  font-weight: 600;
}

.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}
.collection-item img {
  width: 100%;
}
.collection-item:hover,
.collection-item:active {
  opacity: 0.6;
}
.big-item {
  flex-basis: 48%;
}
.small-item {
  flex-basis: 31%;
}
