.banner {
  position: relative;
}
.textbox {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-style: italic;
  width: 30%;
}

.textbox p {
  color: #b0b0bf;
}
.textbox h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #181a24;
}
.button {
  background-color: #383838;
  color: #979a9e;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem 2rem;
  font-weight: 300;
  font-style: italic;
}
.button:hover {
  box-shadow: 0 2px 2px 2px #979a9ea2;
}
.button:active {
  box-shadow: none;
}

.banner img {
  width: 100%;
}
