.content {
  display: flex;
}
.table {
  text-align: center;
  width: 100%;
  font-style: italic;
}
.table thead {
  background-color: #f8f9fa;
}
.table th {
  text-transform: uppercase;
  padding: 1rem;
}
.table td {
  padding: 3rem 1rem;
}
.table.all td {
  font-size: 1.4rem;
  color: #888;
}

.table button {
  background-color: #fff;
  border: none;
  padding: 0.5rem;
}
.table button:hover {
  cursor: pointer;
}

td.image {
  width: 10%;
  padding: 0;
}

.image img {
  width: 100%;
}
.name {
  font-weight: 500;
  font-size: 1.8rem;
  width: 25%;
}
.quantity > div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.price,
.total {
  color: #888;
  font-size: 1.4rem;
}
.view {
  border: #333 solid 1px !important;
  padding: 0.8rem 1.6rem;
  width: 6rem;
}
.view:hover {
  background-color: #333;
  color: #fff;
}

.info p {
  color: #888;
  font-size: 1.4rem;
}
.info h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 3.2rem;
}
.info {
  margin-bottom: 6rem;
}
.back {
  border: #333 solid 1px;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  background-color: #fff;
}
.back:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}
