.search {
  padding: 0.8rem;
  border-radius: 5px;
  width: 30%;
  border: 1px solid #777;
  margin-top: 1rem;
}

.table {
  text-align: left;
  width: 100%;
  margin: 4rem 0 2rem 0;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid #a2d6fe;
  padding: 1rem;
  vertical-align: top;
}

.table tbody tr:nth-child(odd) {
  background-color: #f4f8fb;
}

.table img {
  width: 100%;
  display: block;
}
.image {
  width: 8rem;
}

.edit button,.edit a {
  font-size: 1.4rem;
  line-height: 1.4rem;
  display: inline-block;
  border-radius: 5px;
  border: none;
  padding: 0.8rem 1.6rem;
  color: #fff;
}
.edit button:hover,.edit a:hover{
cursor: pointer;
}
.update-btn {
  margin-right: 0.5rem;
  background-color: #22ca80;
}
.delete-btn {
  background-color: #ff4f70;
}

.new {
  border: 1px solid #22ca80;
  background-color: #22ca80;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 4rem;
}
.new:hover {
  background-color: #fff;
  color: #22ca80;
  cursor: pointer;
}
.new:active {
  background-color: #22ca80;
  color: #fff;
  cursor: pointer;
}
