.stock {
  color: #888;
}
.form {
  border: 1px solid #888;
  display: inline-block;
  margin-top: 2rem;
  align-items: stretch;
}
.form label {
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #888;
  margin-right: 2rem;
}
.form button {
  background-color: #fff;
  border: none;
}
.form button:hover {
  cursor: pointer;
}
.form input {
  display: inline-block;
  width: 2rem;
  font-size: 2rem;
  border: none;
  padding: 0.5rem;
}
.form input:focus-visible {
  outline: none;
}
button.add {
  margin-left: 2rem;
  padding: 1rem 2rem;
  background-color: #353535;
  color: #ccc;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
}
button.add:disabled{
  background-color: #888;
  color: #fff;
  cursor: not-allowed;
}
button.arrow {
  padding: 1rem;
}
